.container>nav>ul>li{
    display: inline;
    flex-direction: row;
    justify-content: flex-start;
    font-style:poppins;
}
#two{
    color: #eaab1b;
}
#two>p{
font-style: poppins;
color: black;
display:flex;
justify-content: start;
}