.container>nav>ul>li{
    display: inline;
    flex-direction: row;
    justify-content: space-evenly;
    font-style:poppins;
    margin: 5px;
}
a{
    text-decoration: none;
}
#two{
    color: #eaab1b;
}
#two>p{
font-style: poppins;
color: black;
display:flex;
justify-content: start;
}
#four{
  background-color: #C9ECB5;
  font-style: poppins;
}
#four>h2{
color:#6CB840
}
#five{
    background-color:#FFD77C ;
    text-align: center;
}
#five>p{
    text-align:center;
}
#Order{
     background-color:#6CB840;
     color: white;
     text-align: start;
     margin-inline-end: 500px;
}
footer{
    background-color: #C9ECB5;
}
#send{
    background-color: #6CB840;
    color: white;
    margin: 40px;
    text-align: center;
    
}
#email{
    background-color: white;
    max: width 40px; ;

}
.all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 70px;
    background-color: #C9ECB5;
}
.third{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.others{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
